* {
  box-sizing: border-box;
}
.main_page
{
	max-width: 100%;
}

.landing_page
{
	background-image: url("../images/land-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.container {
  max-width: 100%;
  padding-left: 2px; 
  padding-bottom: 20%;
}

div.box {
  width: 70%;
  float: left;
  color: white;
  font-size: 0.8em;
  padding-top: 5px;
  padding-left: 20px;
}
.header_span
{
	padding-left: 5px;
}
.header_icon
{
	padding-left: 40px;
}
div.box1 {
  width: 30%;
  float: right;
  color: white;
  padding-top: 5px;
  font-size: 0.8em;
}
.header_chevro_down
{
	padding-left: 5px;
	font-weight: 0.5px;
}
.facebook_font_header
{
	padding-left: 50px;
}
.twitter_font_header
{
	padding-left: 20px;
}
.google_font_header
{
    padding-left: 20px;
}
.vl
{
  border-left: 1px solid gray;
  height: 5px;
  margin-left: 50px;
}
.search_font_header
{
    padding-left: 60px;
}
.cart_font_header
{
    padding-left: 20px;
}
.nav
{
	max-width:100%;
	margin-top: 5%;
	padding-left: 20px;
}
.brand
{
	font-weight:800;
	font-size: 1.9em;
	padding-left: 10px;
}
.ul_nav
{
	list-style-type: none;
	background-color: white;
	padding-bottom: 6px;
}
.nav_menu
{
	float: left;
	width: 86%;
	background-color: white;

}
.nav_div
{
	float: right;
	width:12%;
	background-color: green;
	padding:28px 18px 28px 18px;
	margin-right: 24px;
	text-align: center;
}
.li_nav
{
	color:black;
	display: inline;
	font-size: 0.9em;
}
li a
{
	text-decoration: none;
	color: black;
	padding-left: 37px;
	font-weight: bold;
}
.banner
{
	max-width: 100%;
}
.banner_heading
{
	text-align: center;
	color: white;
	padding:8% 0% 0% 0%;
	font-size:2.8em;
}
.banner_small
{
	color: white;
	font-size: 1.2em;
	text-align: center;

}
.btn_div
{
	margin-left: 37%;
	padding-top: 3%;
}
.company_button
{
	text-align: center;
	background-color: green;
	padding:15px 35px 15px 35px;
	font-size: 0.8em;
	color: white;
	border-style: none;
	border-radius: 1px;
}
.service_button
{
	text-align: center;
	padding:15px 35px 15px 35px;
	font-size: 0.8em;
	color: white;
	font-weight: bold;
	border-style: none;
	border-radius: 1px;
	border-color: white;
	opacity: 0.5;
	background-color:black;
}
.btn_link
{
	text-decoration: none;
	color: white;
}
.globalization
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width:100%;
	margin-top: 30px;
	padding-bottom: 0px;
	
}
.glob_box1
{
	border-style: none;
	width: 30%;
	margin-left: 5%;
	padding-top: 45px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.60);

}
.glob_box2
{
	
	width: 30%;
	box-shadow: 0px 25px 48px -12px rgba(0, 0, 0, 0.60);
}
.glob_box3
{
	width: 30%;
	margin-right: 5%;
	padding-top: 45px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.60);
}
.glob_icon
{
	color: green;
	margin-left:45%;
}
.globalization_text
{
	font-size: 1.2em;
	text-align: center;
	color: black;
	font-weight: bold;
}
.globalization_text_small
{
	text-align: center;
	padding-left: auto;
	padding-right: auto;
}


.financial
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width:100%;
	margin-top: 30px;
	padding-bottom: 0px;

}
.finan_box1
{
	width: 30%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;

}
.flex-cont
{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
}
.finan_box2
{
	
	width: 30%;
	align-items: center;
	margin-right: 70px;
	padding-top: 20px;
}
.finan_box3
{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
}
.finan_icon
{
	color: green;
	padding-top: 16px;
}
.finan_text
{
	font-size: 1.2em;
	color: black;
	font-weight: bold;
	padding-left: 10%;

}
.finan_text_small
{
	padding-left: 10%;
}
.innovation
{
	max-width: 100%;
	background-image: url("../images/sky.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5% 0% 6% 8%;

}
.innovation_text_1
{
	font-size: 3.5em;
	font-weight: bold;
	color:white;
}
.innovation_text_2
{
	color: green;
	font-size: 3.5em;
	font-weight: bold;
}
.innovation_text_small
{
	font-size: 1.2em;
	color: white;
}



.innovation_number
{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	font-weight: bold;
	color: green;
	font-size: 3.5em;
}
.innov_box
{
	padding-top: 2%;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
}
.innov_num
{
	padding-left: 12%;
}
.subscript
{
	font-size: 0.6em;
}
.innov_text1
{
	padding-left: 7%;
}
.innov_text2
{
	padding-left: 9%;
}
.innov_text3
{
	padding-left: 10%;
}
.innovation_text
{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	font-weight: bold;
	color: white;
	font-size: 0.9em;
	padding-top: 2%;
}
.testimonial
{
	max-width: 100%;
	background-color: white;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}
.testimonial_text_para
{
	font-size: 1.2em;
}
.testimonial_name
{
	font-weight: bold;
	font-size: 1.1em;

}
.form_box
{
	max-width: 100%;
	background-image: url("../images/form_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0% 0% 5% 8%;

}
.form_left
{
	float: left;
	width:%;
	padding-top: 12%;
}
.form_right
{
	float: right;
    width:45%;
    padding-top: 5%;
}
.form_heading_1
{
	font-size: 3em;
	color: green;
	font-weight: bold;
}
.form_heading_2
{
	font-size: 3em;
	color:white;
    font-weight: bold;
}
.form_small
{
	font-size: 1.1em;
	color: white;
}
.form_box_right
{
	float:left;
	background-color:rgba(192,192,192,0.3);
    width:65%;
    padding-left: 8%;
    padding-right: 5%;
    padding-bottom: 8%;


}
.form_box_heading
{
	font-size: 1.1em;
	color: white;


}
.input
{ 
  width:95%;
  padding:5% 0% 5% 5%;
  border: 1px solid #ccc;
  border-radius:2px;
  margin-top: 10px;
}
.submit_button
{
  width:95%;
  padding:5% 0% 5% 5%;
  border: 1px solid #ccc;
  border-radius:2px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  background-color: green;
  border-style: none;
  color: white;
  font-size: 1em;
}
select
{
  width:95%;
  padding:5% 0% 5% 5%;
  border: 1px solid #ccc;
  border-radius:2px;
  margin-top: 0px;
}
.news-box
{
	max-width: 100%;
	padding: 3% 0% 4% 0%;
}
.news-box-heading
{
	text-align: center;
	font-size: 1em;
	color: black;
}
.div_division
{
	max-width: 100%;
}
.news_left
{
	float: left;
	width:50%;
}
.inner_left_division_left
{
	float: left;
	width:50%;
	padding-left: 4%;
}
.inner_left_division_right
{
	float: left;
	width:50%;
	padding-top: 10%;
}
.news_right
{
	float: right;
    width:50%;
}
.inner_right_division_left
{
	float: left;
	width:50%;
	padding-left:4%;
}
.inner_right_division_right
{
	float: left;
	width:50%;
    padding-top: 10%;
}
.inner_left_division_right>p>small
{
   color:green;
   font-weight: bold;
}
.inner_right_division_right>p>small
{
   color:green;
   font-weight: bold;
}
.logo_box
{
	background-color: #ededed;
	max-width: 100%;
}
.logo_box>div
{
	display: inline-block;
	padding-top: 3%;
	padding-bottom: 3%;
}
.logo1
{
	margin-left: 2%;
}
.rest_all
{
    padding-left: 12%;
}
