* {
  box-sizing: border-box;
}

.landing_page
{
	background-image: url("../images/land-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.container {
  max-width: 100%;
  padding-left: 2px; 
  padding-bottom: 20%;
}

div.box {
  width: 70%;
  float: left;
  color: white;
  font-size: 0.8em;
  padding-top: 5px;
  padding-left: 20px;
}
.header_span
{
	padding-left: 5px;
}
.header_icon
{
	padding-left: 40px;
}
div.box1 {
  width: 30%;
  float: right;
  color: white;
  padding-top: 5px;
  font-size: 0.8em;
}
.header_chevro_down
{
	padding-left: 5px;
	font-weight: 0.5px;
}
.facebook_font_header
{
	padding-left: 50px;
}
.twitter_font_header
{
	padding-left: 20px;
}
.google_font_header
{
    padding-left: 20px;
}
.vl
{
  border-left: 1px solid gray;
  height: 5px;
  margin-left: 50px;
}
.search_font_header
{
    padding-left: 60px;
}
.cart_font_header
{
    padding-left: 20px;
}
.nav
{
	max-width:100%;
	margin-top: 5%;
	padding-left: 20px;
}
.brand
{
	font-weight:800;
	font-size: 1.9em;
	padding-left: 10px;
}
.ul_nav
{
	list-style-type: none;
	background-color: white;
	padding-bottom: 6px;
}
.nav_menu
{
	float: left;
	width: 86%;
	background-color: white;

}
.nav_div
{
	float: right;
	width:12%;
	background-color: green;
	padding:28px 18px 28px 18px;
	margin-right: 24px;
	text-align: center;
}
.li_nav
{
	color:black;
	display: inline;
	font-size: 0.9em;
}
li a
{
	text-decoration: none;
	color: black;
	padding-left: 37px;
	font-weight: bold;
}
.banner
{
	max-width: 100%;
}
.banner_heading
{
	text-align: center;
	color: white;
	padding:8% 0% 0% 0%;
	font-size:2.8em;
}
.banner_small
{
	color: white;
	font-size: 1.2em;
	text-align: center;

}
.btn_div
{
	margin-left: 37%;
	padding-top: 3%;
}
.company_button
{
	text-align: center;
	background-color: green;
	padding:15px 35px 15px 35px;
	font-size: 0.8em;
	color: white;
	border-style: none;
	border-radius: 1px;
}
.service_button
{
	text-align: center;
	padding:15px 35px 15px 35px;
	font-size: 0.8em;
	color: white;
	font-weight: bold;
	border-style: none;
	border-radius: 1px;
	border-color: white;
	opacity: 0.5;
	background-color:black;
}